/*Tipografias*/
.sinFormato {
  text-decoration: none;
  color: black;
  text-align: right;
}

.textoContenido {
  font-family: "Gloria Hallelujah", cursive;
  font-size: large;
}

.textoContenidoChico {
  font-family: "Gloria Hallelujah", cursive;
  font-size: medium;
}

.textoContenidoChico2 {
  font-family: "Amatic SC", cursive;
  font-size: medium;
}

.titulo {
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 70px;
  text-align: center;
  text-decoration: solid;
}

.subTitulo {
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  text-decoration: wavy;
}

.texto2 {
  font-family: "Amatic SC", cursive;
  font-size: 30px;
}

/*cabezal*/
.navegadorCentrado {
  display: flex;
  justify-content: center;
}

#navegador {
  background-color: #466B38 !important;
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-content: flex-end;
  top: 0px;
  border-bottom: 2px solid black;
  width: 100%;
  z-index: 10;
}

#navegador div {
  align-self: flex-end;
  justify-content: flex-end;
  font-family: "Gloria Hallelujah", cursive;
  font-size: large;
}

/*cuerpo*/
body {
  background: #DAD299; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #B0DAB9, #DAD299); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #B0DAB9, #DAD299); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
body section h2 {
  text-align: center;
  text-decoration: solid;
  font-family: "Amatic SC", cursive;
  font-size: 50px;
}

#imagenEntrada {
  background: #DAD299; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #B0DAB9, #DAD299); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #B0DAB9, #DAD299); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-bottom: black solid 5px;
  border-top: black solid 4px;
  display: flex;
}

#imagenprimera {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  align-self: flex-end;
}

#imagenEntradaDos {
  display: flex;
  text-align: center;
  text-decoration: solid;
  background-image: url("../images/place/restaurante4.jpg");
  /* Set a specific height */
  min-height: 400px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*-----------------------------------------------------*/
#about {
  margin: 0px;
  padding: 0px;
  display: block;
  height: auto;
  width: 100%;
}
#about h2 {
  padding-top: 70px;
  font-size: 50px;
}

#boxAbout {
  padding-bottom: 5px;
  padding-top: 0px;
  border-bottom: black solid 5px;
  width: auto;
}

#aboutContenido {
  display: flex;
  font-family: "Gloria Hallelujah", cursive;
  justify-content: space-between;
  align-items: center;
  border: #749C75 4px solid;
  background-color: #466B38;
  overflow: hidden;
}
#aboutContenido p {
  padding-right: 5px;
  padding-left: 5px;
}
#aboutContenido img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

#clientes {
  margin: 0px;
  padding: 0px;
  height: auto;
  font-family: "Gloria Hallelujah", cursive;
}

#boxClientes section div {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.opiniones {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}
.opiniones img {
  border-radius: 50%;
  max-width: 70%;
  max-height: 70%;
  object-fit: cover;
}

#opinion1 {
  width: 18rem;
}

#opinion2 {
  width: 18rem;
}

#opinion3 {
  width: 18rem;
}

#boxClientes {
  padding-bottom: 20px;
  border-top: black solid 5px;
  border-bottom: black solid 5px;
}

/*pie de pagina*/
ul {
  list-style-type: none;
  display: flex;
}

footer {
  background-color: #466B38;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}
footer div nav:hover {
  transform: scale(1.5);
  transition: ease-in 1s;
}

#mapa {
  justify-self: right;
}

#where {
  justify-self: baseline;
  align-self: baseline;
}
#where ul {
  justify-content: space-between;
}
#where ul li img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.map {
  display: block;
  width: 150px;
  height: 150px;
  max-width: 100%;
  max-height: 25%;
  object-fit: contain;
}

* {
  margin: 0;
  padding: 0;
}

/*------------MENU-------------------------*/
.comida {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 5px;
}

#navegadorMenu {
  display: flex;
  justify-content: center;
}

.card {
  background-color: #466B38;
}

.card-text {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  text-decoration: wavy;
}

.menuOpcion {
  background-color: #466B38;
}

#suggestions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: black solid 2px;
  padding-bottom: 5px;
}
#suggestions h2 {
  background-color: #466B38;
}
#suggestions input {
  width: 500px;
  height: 50px;
}

/*-------------------RESERVAS-------------------------*/
#reserve {
  border-top: black solid 5px;
  border-bottom: black solid 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  justify-content: center;
  padding-bottom: 70px;
}
#reserve h1 {
  padding-top: 70px;
}

.formBox {
  border: black solid 5px;
  background-color: #B0DAB9;
  font-family: "Gloria Hallelujah", cursive;
  font-size: large;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: fit-content;
  justify-self: center;
}

form button {
  font-family: "Gloria Hallelujah", cursive;
}

.form-control {
  display: flex;
  width: 50%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-check-input:checked {
  background-color: #466B38;
  border-color: #466B38;
}

#reservarUno {
  display: flex;
  text-align: center;
  text-decoration: solid;
  background-image: url("../images/place/restaurant2.jpg");
  /* Set a specific height */
  min-height: 400px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#reservarDos {
  display: flex;
  border-bottom: solid black 5px;
  text-align: center;
  text-decoration: solid;
  background-image: url("../images/place/restaurante6.jpg");
  /* Set a specific height */
  min-height: 400px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*animations*/
.angry-animate {
  -webkit-animation: appear 1s ease 0s 1 normal;
  -moz-animation: appear 1s ease 0s 1 normal;
  -ms-animation: appear 1s ease 0s 1 normal;
  animation: appear 1s ease 0s 1 normal;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  60% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
.gradient {
  background: linear-gradient(166deg, #DAD299, #466B38);
  background-size: 400% 400%;
  -webkit-animation: backGrad 9s ease infinite;
  -moz-animation: backGrad 9s ease infinite;
  animation: backGrad 9s ease infinite;
}

@-webkit-keyframes backGrad {
  0% {
    background-position: 81% 0%;
  }
  50% {
    background-position: 20% 100%;
  }
  100% {
    background-position: 81% 0%;
  }
}
@-moz-keyframes backGrad {
  0% {
    background-position: 81% 0%;
  }
  50% {
    background-position: 20% 100%;
  }
  100% {
    background-position: 81% 0%;
  }
}
@keyframes backGrad {
  0% {
    background-position: 81% 0%;
  }
  50% {
    background-position: 20% 100%;
  }
  100% {
    background-position: 81% 0%;
  }
}
.gradient2 {
  background: linear-gradient(166deg, #466B38, #DAD299);
  background-size: 400% 400%;
  -webkit-animation: backGrad 9s ease infinite;
  -moz-animation: backGrad 9s ease infinite;
  animation: backGrad 9s ease infinite;
}

.pulsar {
  padding: 12px 24px;
  background-color: #466B38;
  font-family: "Gloria Hallelujah", cursive;
  border: none;
  color: black;
  border-radius: 5px;
  transition: transform 250ms cubic-bezier(0.2, 0.8, 0.4, 1);
}
.pulsar:hover {
  transform: scale(1.1);
  background-color: black !important;
}
.pulsar:active {
  transform: scale(0.9);
}

.aniNav {
  padding-bottom: 2px;
  color: black;
  position: relative;
}
.aniNav::after {
  content: "";
  position: absolute;
  height: 3px;
  border-radius: 20%;
  width: 100%;
  left: 0;
  bottom: 0;
  opacity: 0;
  transform: translateY(3px);
  background: #DAD299;
  transition: opacity 0.2s ease, transform 0.2s ease;
}
.aniNav:hover::after {
  opacity: 1;
  transform: translateY(0);
}

.aniNavMenu {
  padding-bottom: 1px;
  color: black;
  position: relative;
  font-family: "Gloria Hallelujah", cursive;
}

.aniNavMenu::after {
  content: "";
  position: absolute;
  height: 3px;
  border-radius: 20%;
  width: 100%;
  left: 0;
  bottom: 0;
  opacity: 0;
  transform: translateY(3px);
  background: black;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.aniNavMenu:hover::after {
  opacity: 1;
  transform: translateY(0);
}

.nav-link:focus, .nav-link:hover {
  color: black;
}

.nav {
  --bs-nav-link-color:black;
  --bs-nav-link-hover-color: black;
}

/*Media Queries*/
@media only screen and (max-width: 800px) {
  header {
    flex-direction: column;
    justify-content: center;
  }
  header nav {
    justify-content: center;
    align-self: center;
  }
  #aboutContenido {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
  }
  #aboutContenido p {
    padding-right: 0px;
    padding-left: 0px;
  }
  #about h2 {
    padding-top: 150px;
    font-size: 50px;
  }
  #opinion1 {
    width: 10rem;
  }
  #opinion2 {
    width: 10rem;
  }
  #opinion3 {
    width: 10rem;
  }
  #boxClientes section div {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 576px) {
  #boxClientes section div {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "uno . dos" ". tres .";
  }
  #opinion1 {
    grid-area: uno;
  }
  #opinion2 {
    grid-area: dos;
  }
  #opinion3 {
    grid-area: tres;
  }
  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
  }
  footer div ul {
    justify-content: space-between;
  }
  #where {
    justify-self: center;
    align-self: center;
  }
  #suggestions h2 {
    font-size: 50px;
  }
  #suggestions input {
    width: 100%;
  }
  .comida {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.25fr;
  }
  .titulo {
    font-size: 60px;
  }
  #opinion3 {
    justify-items: center;
  }
  element.style {
    width: 100%;
  }
  .card-text {
    font-size: 3vmin;
  }
}
@media only screen and (max-width: 300px) {
  .card-img, .card-img-bottom, .card-img-top {
    width: 50%;
  }
  #opinion1.card.opiniones.gradient2.style {
    width: 12rem;
  }
  #boxClientes section div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 10px;
  }
  .titulo {
    font-size: 50px;
  }
  #suggestions input {
    width: 100%;
  }
  #opinion1 {
    width: 10rem;
  }
  #opinion2 {
    width: 10rem;
  }
  #opinion3 {
    width: 10rem;
  }
  .card-text {
    font-size: 5vmin;
  }
}

/*# sourceMappingURL=style.css.map */
