/*--------------------INICIALIZACION------------*/
*{
    margin: 0;
    padding: 0; 
} 
html{
    font-size: 62.5% !important;
}

@import "./base/_colores";
@import "./base/mixin";
@import "./componentes/tipografias";
@import "./componentes/cabezal";
@import "./componentes/index";
@import "./componentes/footer";
@import "./base/extend";
@import "./base/map";




/*------------MENU-------------------------*/
/*LOS ALIMENTOS SE ESTRUCTURAN POR SECCIONES NAVEGABLES POR UN NAV
ORDENADOS POR CATEOGRIA EN 2 FILAS y COLUMNAS SUFICIENTES 
CUANDO EL TAMAÑO SE HACE MUY PEQUEÑO PASA A 1 COLUMNA*/
.arriba{
    position: fixed;
    bottom: 1vw;
    right: 1vw;
    z-index: 50;
   
    a{
        height: 64px;
        width: 64px;
        
   
    button{
        height:64px ;
        width: 64px;
        border-radius: 50%;
        background-image:url("../images/hoja.png");
        
        background-color: transparent;
        border-color: transparent;
       
        
    } }
}

.comida{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    padding-top: 20px;
    
    row-gap: 10px;
    @media only screen and (max-width: 1050px){
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
   
}
.comida2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    row-gap: 10px;
    @media only screen and (max-width: 1050px){
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr ;
    }
   

}
.card-bodyMenu{
    width:248px;
    height:110px; 
}

#navegadorMenu{
    display: flex;
    justify-content: center;
    
}

.card{
    background-color: map-get($mapa-color-principal,normal);
}
.card-text {
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    text-decoration: wavy;
    @media only screen and (max-width: 1024px){
        font-size: 1.5rem;
    }}


.menuOpcion{
    background-color: $color-principal;
   
}

/*TEXT AREA PARA ENVIAR SUGERENCIAS ACERCA DEL MENU*/
#suggestions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: $color-terciario solid 2px;
    padding-bottom: 5px;
    h2{
        background-color: map-get($mapa-color-principal,normal);
    }
    input{
        width: 500px;
        height: 50px;

    }
}




    /*-------------------RESERVAS-------------------------*/

    /*APARTADO PARA REALIZAR LAS RESERVAS DEL RESTAURANTE
    UN FORM CON NOMBRE, DIA DE LA SEMANA, HORA y CANTIDAD DE PERSONAS
    ESTA DELIMITADO POR 2 IMAGENES DEL LUGAR CON PARALAX*/

#reserve{
    border-top: $color-border solid 5px;
    border-bottom: $color-border solid 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    justify-content: center;
    padding-bottom: 70px;
    h1{
        padding-top: 70px;
    }
}

.formBox{
    border: $color-border solid 5px ;
    background-color: map-get($map: $mapa-color-secundario, $key:normal);
    font-family: 'Gloria Hallelujah', cursive;
   font-size: large;
   display: flex;
   flex-direction: column;
   align-content: center;
   width: fit-content;
   justify-self: center;
   padding-left: 1rem;
   padding-bottom: 1rem;
   @media only screen and (max-width: 780px){
    width: 100% !important;
}

   
}


form button{
    font-family: 'Gloria Hallelujah', cursive;
   
}

.form-control {
        display: flex;
        width: 50%;
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: .375rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
.form-check-input:checked {
        background-color: $color-principal;
        border-color: $color-principal;
    }
.form-select{
    &:focus{
        border-color: $color-terciario;
        border-top-color:$color-terciario ;
        border-right-color:$color-terciario;
        border-bottom-color:$color-terciario;
        border-left-color: $color-terciario;
        outline: 0;
        outline-color: initial;
        outline-style: initial;
        outline-width: 0px;
        box-shadow: 0 0 0 0.25rem $color-principal;
    }
}



#reservarUno{
    @extend .paralax;
    background-image: url("../images/place/restaurant2.jpg");
/* Set a specific height */
}


#reservarDos{
    @extend .paralax;
    background-image: url("../images/place/restaurante6.jpg");

}





/*ANIMACIONES DE LOS DISTINTOS COMPONENTES*/
/*animations*/
.angry-animate{ 
    /*ANIMACION DE LOS TITULOS h1, AL APARECER EN PANTALLA EL TEXTO PARTE DESDE EL CENTRO INVISIBLE 
    Y SE AGRANDA HASTA ADOPTAR SU TAMAÑO*/
    -webkit-animation:appear 1s ease 0s 1 normal;
    -moz-animation:appear 1s ease 0s 1 normal;
    -ms-animation:appear 1s ease 0s 1 normal;
    animation:appear 1s ease 0s 1 normal;
    }
    
    @-webkit-keyframes appear {
    0%{ opacity: 0; -webkit-transform: scale3d(0.3, 0.3, 0.3); transform: scale3d(0.3, 0.3, 0.3); }
    60%{ opacity: 1; -webkit-transform: scale3d(1,1,1); transform: scale3d(1,1,1); }
    }
    @keyframes appear {
    0%{ opacity: 0; transform: scale3d(0.3, 0.3, 0.3); }
    60%{ opacity: 1; transform: scale3d(1,1,1); }
    }


/*GRADIENTES ANIMADOS, GENERA EL EFECTO DEL FONDO EN EL INDEX Y RESERVAS*/
    .gradient {
        background: linear-gradient(166deg, map-get($mapa-color-secundario,normal), map-get($mapa-color-principal,normal));
        background-size: 400% 400%;
    
        -webkit-animation: backGrad 9s ease infinite;
        -moz-animation: backGrad 9s ease infinite;
        animation: backGrad 9s ease infinite;
    }
    
    @-webkit-keyframes backGrad {
        0%{background-position:81% 0%}
        50%{background-position:20% 100%}
        100%{background-position:81% 0%}
    }
    @-moz-keyframes backGrad {
        0%{background-position:81% 0%}
        50%{background-position:20% 100%}
        100%{background-position:81% 0%}
    }
    @keyframes backGrad {
        0%{background-position:81% 0%}
        50%{background-position:20% 100%}
        100%{background-position:81% 0%}
    }
    .gradient2 {/*COLOR GRADIENTE ANIMADO DEL FONDO DE LOS OPINION BOXES EN EL INDEX
        ES EL GRADIENTE INVERSO AL FONDO DE LA SECCION Y LA PAGINA*/
        background: linear-gradient(166deg,map-get($mapa-color-principal,normal), map-get($mapa-color-secundario,normal));
        background-size: 400% 400%;
    
        -webkit-animation: backGrad 9s ease infinite;
        -moz-animation: backGrad 9s ease infinite;
        animation: backGrad 9s ease infinite;
    } 
/*-------------------------SCROLLBAR CUSTOM----------------*/

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: map-get($mapa-color-principal,oscuro);
    
   

 
  }
  
  ::-webkit-scrollbar-thumb:vertical
{
    background:black url("../images/treeBark.jpg") repeat-y;
    background-size:26px 63px;  
    
}
  
    

.pulsar { /*ANIMACION PARA PULSADORES DE LA PAGINA*/
	padding: 12px 24px;
    background-color: $color-principal;
    font-family: 'Gloria Hallelujah', cursive; ;
    border: none;
    color: black;
    border-radius: 5px;
    transition: transform 250ms cubic-bezier(.2,.8,.4,1);
    &:hover{
        transform: scale(1.10);
        background-color: $color-terciario !important;

    }
    &:active {
        transform: scale(0.9);
       
    }
    

  }

  /*ANIMACION PARA LA BARRA DE NAVEGACION, AL PASAR EL MOUSE POR LOS ELEMENTOS APARECE UNA BARRITA DEBAJO*/

.aniNav {
    padding-bottom: 2px;
    color: $color-font;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        height: 3px;
        border-radius: 20%;
        width: 100%;
        left: 0;
        bottom: 0;
        opacity: 0;
        transform: translateY(3px);
        background: map-get($mapa-color-secundario,normal);
        transition: opacity 0.2s ease, transform 0.2s ease;

    }
    &:hover::after{
        opacity: 1;
        transform: translateY(0);

    }
    
}





.aniNavMenu {
    padding-bottom: 1px;
    color: $color-font;
    position: relative;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2rem;
}

.aniNavMenu::after {
    content: '';
    position: absolute;
    height: 3px;
    border-radius: 20%;
    width: 100%;
    left: 0;
    bottom: 0;
    opacity: 0;
    transform: translateY(3px);
    background: $color-font;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.aniNavMenu:hover::after {
    opacity: 1;
    transform: translateY(0);
}
.nav-link:focus, .nav-link:hover{
    color: $color-terciario;
}
.nav{
--bs-nav-link-color:$color-border; 
--bs-nav-link-hover-color: $color-border;}
/*Media Queries*/
@media only screen and (max-width: 800px){
    header {
        flex-direction: column;
        justify-content: center;

        nav{
            justify-content: center;
            align-self: center;
        }
    }
    #aboutContenido{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: left;
        p{
            padding-right: 0px;
            padding-left: 0px;
        }
    }
    #about h2{
        font-size: 50px;
    }
    #opinion1{
        width: 30rem;
    }
    #opinion2{
        width: 30rem;
    }
    #opinion3{
        width: 30rem;
    }
    #boxClientes{
        section{
                div{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content: center;
                    gap: 10px;
                }
            }
    }
    .card-text{
        font-size: 2rem;
    }
}



@media only screen and (max-width: 576px){
    
    #boxClientes section div{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "uno . dos"
        ". tres .";
    }
    #opinion1{
        grid-area: uno;
    }
    #opinion2{
        grid-area: dos;
    }
    #opinion3{
        grid-area: tres;
    }
    
    footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        overflow: hidden;
        div{ 
            ul{
            justify-content: space-between;
            }
        }
    }
    #where{
        justify-self: center;
        align-self: center;
    }
   
    #suggestions{
        h2{
        font-size: 50px;
        }
        input{
        width: 100%;
        }
    }
    .comida{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.25fr;
       
    }
    .comida2{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.25fr;

    }
    .titulo{
        font-size: 60px;
        }
    #opinion3{
        justify-items: center;
        }
        
        element.style{
            width: 100%;
        }
        #opinion1{
            width: 20rem;
        }
        #opinion2{
            width: 20rem;
        }
        #opinion3{
            width: 20rem;
        }
        .card-text{
            font-size: 2rem;
        }
       
    
}
@media only screen and (max-width: 300px){
   
    .card-img, .card-img-bottom, .card-img-top {
        width: 50%;
    }
    #opinion1.card.opiniones.gradient2.style {
        width: 12rem;
    }
  
    .titulo{
        font-size: 50px;
        }
        #suggestions input{
            width: 100%;
        }

        #opinion1{
            width: 100%;
        }
        #opinion2{
            width: 100%;
        }
        #opinion3{
            width: 100%;
        }
        .card-text{
            font-size: 15px;
        }
      

        

}