/*--------------paralax----------------*/

// luego modificar background image deseada para el efecto
.paralax{
    display: flex;
    border-bottom: solid black 5px;
    text-align: center;
    text-decoration: solid; 
    /* Set a specific height */
    min-height: 400px;
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


