

/*------------MENU-------------------------*/
/*LOS ALIMENTOS SE ESTRUCTURAN POR SECCIONES NAVEGABLES POR UN NAV
ORDENADOS POR CATEOGRIA EN 2 FILAS y COLUMNAS COMIENZA EN 4, LUEGO 2 Y POR ULTIMO 1*/

.comida{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    padding-top: 20px;
    
    row-gap: 10px;
    @media only screen and (max-width: 1050px){
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
   
}
.comida2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    row-gap: 10px;
    @media only screen and (max-width: 1050px){
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr ;
    }
   

}
.card-bodyMenu{
    width:248px;
    height:110px; 
}

#navegadorMenu{
    display: flex;
    justify-content: center;
    
}
.menuOpcion{
    background-color: $color-principal;
   
}

/*TEXT AREA PARA ENVIAR SUGERENCIAS ACERCA DEL MENU*/
#suggestions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: $color-terciario solid 2px;
    padding-bottom: 5px;
    h2{
        background-color: map-get($mapa-color-principal,normal);
    }
    input{
        width: 500px;
        height: 50px;

    }
}


