/*Tipografias*/
.sinFormato {
    text-decoration: none;
    color: $color-font;
    text-align: right; 
}
.textoContenido{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2rem;
}
.textoContenidoChico{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.5rem;
}
.textoContenidoChico2{
    font-family: 'Amatic SC', cursive;
    font-size:1.5rem;
}


.titulo{
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 7rem;
    text-align: center;
    text-decoration: solid;
    }

.subTitulo{
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 5rem;
    text-align: center;
    text-decoration: wavy;
    

}
.texto2{
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
}